.order {
    background-color: white;
    border: 2px solid #2469a1;
    padding: 1.5em;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.title {
    font-size: 2em;
    padding-bottom: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 30em;
    min-width: 20em;
    padding: 5px;
}

.orderItem-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    max-width: 30em;
    min-width: 20em;
    padding: 5px;

}

.orderItem-list {
    list-style-type: none;
    padding-left: 20px;
}