.cart {
    display: flex;
    flex-direction: column;
}

.items {
    width: 75vw;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(228, 228, 228); */
    margin: 0px 10px;
    list-style-type: none;
}

.item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.5em;
    width: 100%;
    background-color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    border: rgb(228, 228, 228) solid 1px;
}

.item img {
    object-fit: cover;
    height: 5em;

}

.item-title {
    font-size: 0.8em;
    width: 15em;
}

.item-price {
    width: 5em;
    margin: 10px;
}

.item-count {
    width: 3em;
    margin: 10px;
}

.item-right {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}