.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0;
    width: 15vw;
    min-width: 10em;
}

.product img {
    object-fit: cover;
    height: 50vh;
    width: 15vw;
    min-height: 15em;
    min-width: 10em;
}

.product-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-title {
    margin: 3px;
}

.product-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

.product-price div{
    font-size: 1.5em;
}

.rating {
    width: 100%;
    display: flex;
    flex-direction: row;
}
