.infoPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.modal {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderlist {    
    width: 60vw;
    min-width: 600px;
    max-height: 60vh;
}