.cartPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

.cart-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 200px;
    width: 20vw;
    background-color: rgb(228, 228, 228);
    margin: 10px;
    padding: 10px;
}

.total-price {
    width: 80%;
    padding-bottom: 20px;

    font-size: 1.5em;
}

.cart-left button {
    width: 80%;
}